
<nav class="nav">
<ul class="nav justify-content-center">
  <img src="../../../assets/java.jpeg" alt="Logo" width="30" height="30" style="margin-right: 50px;">
  <li class="nav-item">
    <a class="nav-link" routerLink="home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="cadastrar">Cadastrar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="editar">Editar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="listar">Listar</a>
  </li>

</ul>
</nav>
