<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Café&CIA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
</head>
<div th:insert="fragments/header :: cabecalho-principal"   ></div>
<body>

    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Bem-vindo ao Café&Cia!</h1>
            <p class="lead">Seu portal para os melhores cafés do mundo.</p>
            <hr class="my-4">
            <p>Explore nossa seleção exclusiva de cafés, desde os clássicos até os mais exóticos.</p>
            <a class="btn btn-primary btn-lg" href="/listar" role="button">Ver Cafés</a>
            <a class="btn btn-secondary btn-lg" href="/cadastrar" role="button">Cadastrar Novo Café</a>
        </div>
    </div>
    <style>
        /* fixa o footer na parte inferior da viewport */
        #footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 1030;
        }
    </style>

    
</body>
<footer id="footer" th:insert="fragments/footer :: rodape-principal"></footer>
</html>