server:
  port: 9090
spring:
  application:
    name: coffee


  datasource:
    url: jdbc:postgresql://localhost:5432/coffeedb
    username: postgres
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

