.mb-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mb-2 label {
  min-width: 90px;
  margin-bottom: 0;
}
.mb-2 input,
.mb-2 textarea {
  flex: 1;
}
form {
  max-width: 400px;
  margin: 10px auto 0 auto;
  padding: 24px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
}

button {
  flex: 1;
  width: 50%;
}
